body {
font-family: Arial;
background: #0f172a;
color: white;
text-align: center;
}

.container {
width: 80%;
margin: auto;
}

.subtitle {
color: cyan;
}

.card {
background: #1e293b;
padding: 20px;
margin: 15px;
border-radius: 15px;
box-shadow: 0 0 10px cyan;
}

button {
padding: 10px 20px;
border: none;
border-radius: 10px;
background: cyan;
cursor: pointer;
margin-top: 10px;
}

.hidden {
display: none;
}

.xp-bar {
width: 100%;
background: #334155;
border-radius: 10px;
margin: 15px 0;
}

#xp {
height: 10px;
width: 0%;
background: cyan;
border-radius: 10px;
}
